@page "/edit/{Id:guid}"
@inject ImageFileService ImageFileService
@inject NavigationManager NavigationManager
@inject ToastService ToastService
@inject WardrobeItemService WardrobeItemService

<PageTitle>Wardrobe Inventory - Edit</PageTitle>

<div class="container">

    <h1 class="h5 mb-3">Edit Wardrobe Item</h1>

    @if (isLoading)
    {
        <LoadingSpinner />
    }
    else if (request is null)
    {
        <span>No wardrobe item found for id '@(Id)'</span>
    }
    else
    {
        @if(file is null)
        {
            <div class="col-1 mb-3">
                <img class="rounded img-thumbnail" src="@(request.ImagePath)" alt="Item Image" />
            </div>
        }

        <EditForm Model="@request" method="post" OnValidSubmit="EditWardrobeItemAsync" FormName="EditWardrobeItem" class="form-group">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-floating mb-3">
                <InputText @bind-Value="request.Name" id="requestName" class="form-control" placeholder="Name" />
                <label for="requestName">Name</label>
                <ValidationMessage For="() => request.Name" />
            </div>

            <div class="mb-3">
                <InputFile OnChange="LoadFile"  accept=".png,.jpg,.jpeg" id="requestFile" class="form-control" placeholder="Image" />
                <label for="requestFile" class="visually-hidden">Image</label>
                @if (!string.IsNullOrWhiteSpace(fileErrorMessage))
                {
                    <span>@fileErrorMessage</span>
                }
            </div>

            <div class="form-floating mb-3">
                <InputSelect @bind-Value="request.Colour" id="requestColour" class="form-select" aria-label="Colour select">
                    <option value="" selected>Select a Colour</option>
                    @foreach (WardrobeItemColours colour in Enum.GetValues(typeof(WardrobeItemColours)))
                    {
                        <option value="@colour">@colour.GetDisplayName()</option>
                    }
                </InputSelect>
                <label for="requestColour">Colour</label>
            </div>

            <div class="form-floating mb-3">
                <InputSelect @bind-Value="request.Material" id="requestMaterial" class="form-select" aria-label="Material select">
                    <option value="" selected>Select a Material</option>
                    @foreach (WardrobeItemMaterials material in Enum.GetValues(typeof(WardrobeItemMaterials)))
                    {
                        <option value="@material">@material.GetDisplayName()</option>
                    }
                </InputSelect>
                <label for="requestMaterial">Material</label>
            </div>

            <div class="form-floating mb-3">
                <InputSelect @bind-Value="request.Size" id="requestSize" class="form-select" aria-label="Size select">
                    <option value="" selected>Select a Size</option>
                    @foreach (WardrobeItemSizes size in Enum.GetValues(typeof(WardrobeItemSizes)))
                    {
                        <option value="@size">@size.GetDisplayName()</option>
                    }
                </InputSelect>
                <label for="requestSize">Size</label>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <button class="btn btn-outline-primary btn-sm col-1" type="submit">Edit</button>
                <button class="btn btn-outline-secondary btn-sm col-1" type="button" @onclick="NavigateToWardrobeItems">Cancel</button>
            </div>

        </EditForm>
    }
</div>

@code {
    [Parameter] public Guid Id { get; set; }

    private bool isLoading = true;
    private WardrobeItemDto? request;
    private IBrowserFile? file = null;
    private string fileErrorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        var response = await WardrobeItemService.GetWardrobeItem(Id);
        if (response.IsSuccess)
        {
            request = response.WardrobeItem;
        }
        else
        {
            ToastService.ShowToast($"Error loading wardrobe item: {response.Message}", ToastLevel.Error);
        }

        isLoading = false;
    }

    private async Task EditWardrobeItemAsync()
    {
        if (request is null)
        {
            return;
        }

        isLoading = true;

        ImageFileResponse? imageFileResponse = null;

        if (file is not null)
        {
            imageFileResponse = await ImageFileService.PostImageFile(file);
            if (imageFileResponse.IsSuccess)
            {
                request.ImagePath = imageFileResponse.ImagePath;
            }
        }

        var response = await WardrobeItemService.PutWardrobeItem(request);

        if (response.IsSuccess)
        {
            if (imageFileResponse != null && !imageFileResponse.IsSuccess)
            {
                ToastService.ShowToast($"Updated wardrobe item, error adding image file: {imageFileResponse.Message}", ToastLevel.Warning);
            }

            ToastService.ShowToast("Updated wardrobe item", ToastLevel.Success);
        }
        else
        {
            ToastService.ShowToast("Error updating wardrobe item", ToastLevel.Error);
        }

        NavigationManager.NavigateTo("/");
    }

    private void LoadFile(InputFileChangeEventArgs e)
    {
        var inputFile = e.File;
        fileErrorMessage = "";

        var allowedFileTypes = new List<string> { ".png", ".jpg", ".jpeg" };
        
        if (!allowedFileTypes.Contains(Path.GetExtension(inputFile.Name)))
        {
            fileErrorMessage = "File not a valid type (PNG, JPG, JPEG)! It will not be uploaded.";
            file = null;
        }

        if (inputFile.Size > ImageFileConstants.MaximumFileSizeInBytes)
        {
            fileErrorMessage = "File exceeds maximum (5 MB)! It will not be uploaded.";
            file = null;
        }
                
        file = e.File;
    }

    private void NavigateToWardrobeItems()
    {
        NavigationManager.NavigateTo($"/");
    }
}
